#header {
	background-color:black;
	top:0;
	position:fixed;
	width:100%;
	color:white;
	text-align:center;
	padding:5px;
}

table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
}

th,td {
  padding: 5px;
}

#inputs {
	margin-top: 75px;
	background-color:white;
	border-bottom-style: solid;
	border-bottom-color:#000000;
	width:100%;
	position:fixed;
	top:0;
}

#content_pane {
	margin-top: 140px;
	top:0;
}

input[type='text'] { font-size: 24px; }